<form action="/articles" method="post">
  <p><label for="title">Article Title: </label>
  <input id="title" name="title" type="text"></p>
  <p><label for="title">Article Title: </label>
  <input id="title" name="title" type="text"></p>
</form>