<form action="/articles" method="post">
  <p><label for="title">Article Title: </label>
  <input id="title" name="title" type="text"></p>
  <p><label for="content">Article Content: </label>
  <textarea id="content" name="content" type="text"></textarea></p>
  <input type="submit">
</form>
